body {
  background: url("science.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.headerLink {
  color: white;
}

.topContainer {
  width: 70% !important;
}

.innerTopBox {
  width: 900px !important;
}

.topInfoContainer {
  margin-top: 20% !important;
}

.portfolioPicture {
  border-radius: 5%;
  opacity: 100%;
  width: 85%;
  height: 85%;
  margin-top: 5% !important;
  margin-left: 5% !important;
}

.nameHeader {
  font-size: 500%;
  text-shadow: 2px 2px white;
}

.jobHeader {
  font-size: 40px;
  padding: 5%;
}

.projectPicture {
  border-radius: 5%;
  width: 300px;
  height: 300px;
  margin-left: 15%;
}

.descriptionText {
  line-height: 150%;
}
