body {
  background: url("science.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.rootContainer {
  display: flex;
  justify-content: center;
}

.grid {
  background-color: whitesmoke;
  background: rgba(255, 255, 255, 0.9);
  border: solid;
  border-color: black;
  border-width: 2%;
  border-radius: 5%;
  width: 85%;
  margin-top: 5% !important;
}

.portfolioPicture {
  border-radius: 5%;
  opacity: 100%;
  width: 85%;
  height: 85%;
  margin-top: 5% !important;
  margin-left: 5% !important;
}

.pointing {
  margin-top: 3.5% !important;
}
