body {
  background: url("science.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  width: 90% !important;
}

.rootContainer {
  display: flex;
  justify-content: center;
}

.grid {
  background-color: whitesmoke;
  background: rgba(64, 133, 173, 0.9);
  border: solid;
  border-color: black;
  border-width: 2%;
  border-radius: 5%;
  width: 85%;
  margin-top: 5% !important;
}

.portfolioPicture {
  border-radius: 5%;
  opacity: 100%;
  width: 85%;
  height: 85%;
  margin-top: 5% !important;
  margin-left: 5% !important;
}

.pointing {
  margin-top: 3.5% !important;
  margin-right: 4% !important;
  /* width: fit-content; */
  display: flex;
  justify-content: space-around;
}

.nameHeader {
  font-size: 500%;
  text-shadow: 2px 2px white;
}

.jobHeader {
  font-size: 40px;
  padding: 5%;
}

.buttonBox {
  display: flex;
  justify-content: center;
}

.hireButton {
  font-size: 30px;
  width: 20%;
  height: 80px;
  border-radius: 15%;
  background-color: red;
  border-color: white;
  color: white;
  margin-right: 15%;
}

.portfolioItem {
  height: 200px;
}

.projectPicture {
  border-radius: 5%;
  width: 100px;
  height: 100px;
}
